@use './variables' as *;

.color_orange{
    color:$d-boo-orange !important;
}

.w-80{
    width:80%;
}

.w-40{
    width:40%;
}
.mb-7{
    margin-bottom: 7rem;
}

.bg_darker {
    background: $d-boo-darker;
}
