$d-boo-orange:#E77728;
$d-boo-orange-light:#Eb8b47;
$d-boo-background:#FFDDA1;
$d-boo-yellow:#f8c537;
$d-boo-dark:#3d2d00;
$d-boo-darker:#140f01;
$d-boo-dark-transparent:rgba(0, 0, 0, 0.4);
$d-boo-light: rgb(227, 227, 227);
$d-boo-black:#222;