@use './partials/welcome.scss';
@use './partials/show_orders.scss';
@use './partials/index_orders.scss';
@use './partials/login.scss';
@use './common.scss';
@use './variables.scss' as *;
@import '~bootstrap/scss/bootstrap';

body {
    background-color: $d-boo-background;
    font-family: 'Open Sans', sans-serif;
}

#main_admin {
    height: calc(100vh - 90px);
}

.navbar {
    height: 90px;
    background-color: $d-boo-darker;

    .logo_laravel {
        position: relative;

        .moto {
            width: 23px;
            position: absolute;
            bottom: 5px;
            z-index: 1;
            left: -1000%;
            animation: goHome 3s ease 0.5s forwards;
        }

        @keyframes goHome {
            0% {
                left: -1000%;
                rotate: -80deg;
            }

            100% {
                left: 18px;
                rotate: 0deg;
            }
        }
    }

    button {
        background-color: $d-boo-orange;

        &:hover {
            background-color: $d-boo-background;
        }

        &:focus {
            background-color: $d-boo-background;
        }
    }
}

.nav-link {
    color: $d-boo-orange;

    &:hover {
        color: $d-boo-light;
    }
}

td {
    height: 100px;
}

.bg-orange {
    background-color: $d-boo-orange;
}

#restaurant_img,
#dish_img {
    object-fit: contain;
}

[data-braintree-id="choose-a-way-to-pay"] {
    display: none;
}